<h2>Por Region</h2>
<hr>

<div class="row">
    <section class="col text-center">
        <!-- <shared-search-box placeholder="Buscar por Region" (onValue)="onValue( $event )" (onDebounce)="onValue( $event )"></shared-search-box> -->
        <div class="btn-group" role="group" aria-label="Basic example">
            <button *ngFor="let region of regions" type="button" class="btn btn-outline-primary" [ngClass]="{'active': region == selectedRegion}" (click)="onValue(region)">{{region}}</button>
          </div>
    </section>
</div>
<hr>
<div class="row">
    <section class="col">
        <shared-loading-spinner *ngIf="isLoading" [message]="'Países en la región'"></shared-loading-spinner>
        <countries-country-table [countries]="countries"></countries-country-table>
        <!-- <ul>
            <li *ngFor="let country of countries"> {{country.capital}} </li>
        </ul> -->
    </section>
</div>